.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Центрирование по вертикали */
    margin-top: 20px;
}

.profile-avatar {
    margin-right: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    /* Фиксированный размер аватара */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6f42c1;
    /* Граница аватара */
}

.profile-details {
    flex-grow: 1;
}

.profile-details h3 {
    margin-bottom: 5px;
    color: #343a40;
    /* Цвет имени пользователя */
}

.profile-details p {
    margin: 5px 0;
    color: #495057;
    /* Цвет текста */
}