.header-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f42c1;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-item img {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 50px;
}

h1 {
    font-size: 2em;
    color: blueviolet;
    text-align: center;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}