h1 {
    font: 1em sans-serif;
    color: #b42929;
    text-align: center;
    margin: 10px;
}

body {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

td, tr, th {
    min-width: 20vh;
    width: 200px;
    height: 20px;
    border: 2px solid blueviolet;
    box-shadow: 1px 1px 1px blue;
}

.index-table {
    border: 2px solid blueviolet;
    border-collapse: collapse;
    box-shadow: 2px 2px 20px blueviolet;
    text-align: center;
}

form.form-example {
    display: table;
  }
  
  div.form-example {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }