/* posts.css */
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    flex-grow: 1;
}

.post-item h3 {
    font-size: 1.2em;
    color: blueviolet;
    margin: 0;
}

.post-date {
    font-size: 0.9em;
    color: #777;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e60000;
}

.post-content {
    margin-top: 10px;
    color: #555;
    width: 100%;
}

.post-form {
    display: flex;
    flex-direction: column; /* Изменяем на вертикальную ориентацию */
    margin: 20px 0; /* Отступы сверху и снизу */
}

#post_content {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 100px; /* Устанавливаем высоту текстового поля */
    padding: 10px; /* Внутренние отступы для удобства ввода */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Небольшая тень */
    font-size: 16px; /* Размер шрифта */
    resize: vertical; /* Разрешаем изменять высоту текстового поля */
}

.submit-button {
    background-color: #28a745; /* Зеленый цвет кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Внутренние отступы */
    border: none; /* Без рамки */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.submit-button:hover {
    background-color: #218838; /* Темнее зеленый при наведении */
}

.button-container {
    margin-top: 10px; /* Отступ сверху для кнопки */
}
